:root {
  &[data-theme="light"] {
    --global-theme-color: #2e8b57;
  }
  &[data-theme="dark"] {
    --global-theme-color: #2e8b57;
  }
}

/* 1. 画一个横幅在网页最顶部 */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px; 
  background-image: url('../assets/img/IMG_2568.JPG'); 
  background-size: cover;       
  background-position: center;  
  z-index: -1;                  
}

/* 2. 把头像和文字往下推 */
div.container {
  margin-top: 200px !important; 
  background-color: transparent; 
}
